@using WebDatLich.Data
@{
    ViewData["Title"] = "AddTourGuide";
}
@model AdminTourGuideViewModel
<h2>Thêm thông tin Hướng dẫn viên</h2>
<form asp-action="AddTourGuide" method="post">
    <input type="hidden" asp-for="EmployeeId" />

    <div class="form-group">
        <label for="ExperienceYears">Số năm kinh nghiệm:</label>
        <input asp-for="ExperienceYears" type="number" class="form-control" />
        <span asp-validation-for="ExperienceYears" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="LanguageSpoken">Ngôn ngữ sử dụng:</label>
        <input asp-for="LanguageSpoken" type="text" class="form-control" />
        <span asp-validation-for="LanguageSpoken" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Thêm thông tin</button>
</form>

